.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 1000px;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d9e0;
  margin-top: 1.25rem;
}

.navigation {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 1.25rem;
  background-color: #f6f8fa;
  color: #454748;
  font-weight: bold;
}

.link:hover {
  color: #0969da;
}

.link {
  color: currentColor;
}

.render {
  min-height: 200px;
}

.render img {
  width: 100%;
}