.table-cell {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size:1.125rem;
  text-align: start;
}

.table-row { 
  border-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  border-image: none;
  border-color: #d1d9e0;
  border-radius: 6px;
}

.table-row:hover {
  background-color: #f6f8fa;
}
